body{
    background-color:#FFF8DC !important;

}
.container{
    display:flex;
    align-items: center;
    justify-contents: center;
    flex-direction: column;
}
.images{
    width: 370px;
    margin-top : 50px;
}

@media (max-width: 770px)
{
    .container{
        margin: 0 10%;

    }
    .images{
        width: 100%;
    }
   
}